*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  margin-top: 10px;
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin: 0 auto;
}